In [8]:
import pandas as pd
# 过抽样处理库SMOTE
from imblearn.over_sampling import SMOTE
# 欠抽样处理库RandomUnderSampler
from imblearn.under_sampling import RandomUnderSampler
# 分类算法svm
from sklearn.svm import SVC
# 简单集成方法 EasyEnsemble
from imblearn.ensemble import EasyEnsemble

ModuleNotFoundError: No module named 'imblearn'

In [9]:
df = pd.read_table('data2.txt', sep=' ', names=['col1', 'col2', 'col3', 'col4', 'col5', 'lable'])
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
groupby_data_orgianl = df.groupby('lable').count()
groupby_data_orgianl

       col1  col2  col3  col4  col5
lable
0.0     942   942   942   942   942
1.0      58    58    58    58    58