In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 航班数据的链接网址
link = 'https://projects.fivethirtyeight.com/flights/'

In [3]:
# 查看dada目录中的文件
# win中
!dir "../data/"
# linux中
# !ls "../data"

 驱动器 E 中的卷是 文档
 卷的序列号是 EEEB-A7D4

 E:\DataAnalysisCase\data 的目录

2019/12/25  15:12    <DIR>          .
2019/12/25  15:12    <DIR>          ..
2019/08/16  10:00        84,112,439 1970-2016世界恐怖袭击数据-utf8.csv
2017/11/13  19:09            42,706 AMZN.csv
2017/11/13  19:09           195,031 apply_demo.csv
2017/11/13  19:09            38,415 BABA.csv
2017/11/13  19:09               423 city_weather.csv
2017/11/13  19:09           134,102 demo_duplicate.csv
2019/08/05  21:18           566,881 HR.csv
2017/11/13  19:09             4,600 iris.csv
2017/11/13  19:09         1,494,688 movie_metadata.csv
2017/11/13  19:09            44,028 Pokemon.csv
2017/11/13  19:09             9,520 sales-funnel.xlsx
2017/11/13  19:09            52,089 top5.csv
2017/11/13  19:09            61,194 train.csv
2017/11/13  19:09        10,578,201 usa_flights.csv
2019/08/16  09:59             8,477 亚洲国家20年人口数据-gb2312.csv
2019/08/16  09:59             8,641 亚洲国家20年人口数据-utf8.csv
2019/08/16  09:59               913 国家各项税收.csv
2019/08/16  09:59            12,328 欧洲国家20年旅游收入数据-gb2312.csv
2019/08/16  09:59            12,528 欧洲国家20年旅游收入数据-utf8.csv
              19 个文件     97,377,204 字节
               2 个目录 349,029,957,632 可用字节

In [4]:
# 从本地读取航班数据
flights_df = pd.read_csv("../data/usa_flights.csv")

In [5]:
# 查看前五行数据
flights_df.head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
0,02/01/2015 0:00,AA,1,JFK,LAX,-19.0,0,2475,NaN,NaN,NaN,NaN,NaN,381.0
1,03/01/2015 0:00,AA,1,JFK,LAX,-39.0,0,2475,NaN,NaN,NaN,NaN,NaN,358.0
2,04/01/2015 0:00,AA,1,JFK,LAX,-12.0,0,2475,NaN,NaN,NaN,NaN,NaN,385.0
3,05/01/2015 0:00,AA,1,JFK,LAX,-8.0,0,2475,NaN,NaN,NaN,NaN,NaN,389.0
4,06/01/2015 0:00,AA,1,JFK,LAX,25.0,0,2475,0.0,0.0,0.0,25.0,0.0,424.0

#### 1.查看飞机延误时间最长的前10名

In [7]:
flights_df.sort_values('arr_delay', ascending=False)[:10]

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
11073,11/01/2015 0:00,AA,1595,AUS,DFW,1444.0,0,190,1444.0,0.0,0.0,0.0,0.0,59.0
10214,13/01/2015 0:00,AA,1487,OMA,DFW,1392.0,0,583,1392.0,0.0,0.0,0.0,0.0,117.0
12430,03/01/2015 0:00,AA,1677,MEM,DFW,1384.0,0,432,1380.0,0.0,0.0,4.0,0.0,104.0
8443,04/01/2015 0:00,AA,1279,OMA,DFW,1237.0,0,583,1222.0,0.0,15.0,0.0,0.0,102.0
10328,05/01/2015 0:00,AA,1495,EGE,DFW,1187.0,0,721,1019.0,0.0,168.0,0.0,0.0,127.0
36570,04/01/2015 0:00,DL,1435,MIA,MSP,1174.0,0,1501,1174.0,0.0,0.0,0.0,0.0,231.0
36495,04/01/2015 0:00,DL,1367,ROC,ATL,1138.0,0,749,1112.0,0.0,0.0,26.0,0.0,171.0
59072,14/01/2015 0:00,DL,1687,SAN,MSP,1084.0,0,1532,1070.0,0.0,0.0,14.0,0.0,240.0
32173,05/01/2015 0:00,AA,970,LAS,LAX,1042.0,0,236,1033.0,0.0,9.0,0.0,0.0,66.0
56488,12/01/2015 0:00,DL,2117,ATL,COS,1016.0,0,1184,1016.0,0.0,0.0,0.0,0.0,193.0

#### 2.计算延误和没有延误的飞机所占的比例

In [8]:
# 添加一列判断航班是否延误
flights_df['delayed'] = flights_df['arr_delay'].apply(lambda x: x > 0)
# 查看前五行数据
flights_df.head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,delayed
0,02/01/2015 0:00,AA,1,JFK,LAX,-19.0,0,2475,NaN,NaN,NaN,NaN,NaN,381.0,False
1,03/01/2015 0:00,AA,1,JFK,LAX,-39.0,0,2475,NaN,NaN,NaN,NaN,NaN,358.0,False
2,04/01/2015 0:00,AA,1,JFK,LAX,-12.0,0,2475,NaN,NaN,NaN,NaN,NaN,385.0,False
3,05/01/2015 0:00,AA,1,JFK,LAX,-8.0,0,2475,NaN,NaN,NaN,NaN,NaN,389.0,False
4,06/01/2015 0:00,AA,1,JFK,LAX,25.0,0,2475,0.0,0.0,0.0,25.0,0.0,424.0,True

In [10]:
# 查看延误飞机的数量
delay_data = flights_df['delayed'].value_counts()
delay_data

False    103037
True      98627
Name: delayed, dtype: int64

In [11]:
# 计算延误航班所占的比例
delay_data[1]/(delay_data[0]+delay_data[1])

0.4890659711202793